
@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<table border="1">
    <tr>
        <th>CustomerId</th>
        <th>CompanyName</th>
        <th>ContactName</th>
        <th>ContactTitle</th>
        <th>Address</th>
        <th>City</th>
        <th>Region</th>
        <th>PostalCode</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Fax</th>
    </tr>

    @foreach (var anItem in ViewBag.ListOfCustomers)
    {
        <tr>
            <td>@anItem.CustomerId</td>
            <td><a href="CustomersDetail?custId=@anItem.CustomerId">@anItem.CompanyName</a></td>
            <td>@anItem.ContactName</td>
            <td>@anItem.ContactTitle</td>
            <td>@anItem.Address</td>
            <td>@anItem.City</td>
            <td>@anItem.Region</td>
            <td>@anItem.PostalCode</td>
            <td>@anItem.Country</td>
            <td>@anItem.Phone</td>
            <td>@anItem.Fax</td>

        </tr>
    }

</table>
<a class="btn btn-default" href="Index" style="margin-bottom: 10px;">Return</a><br />