
@{
    ViewBag.Title = "UpdateCustomers";
}

<h2>UpdateCustomers</h2>
<h2>This is the Updated Rows</h2>
<p>
    @ViewBag.custId<br />
    @ViewBag.compName <br />
    @ViewBag.contName <br />
    @ViewBag.contTitle <br />
    @ViewBag.address <br />
    @ViewBag.city<br />
    @ViewBag.region <br />
    @ViewBag.postalCode <br />
    @ViewBag.country <br />
    @ViewBag.phone <br />
    @ViewBag.fax <br />
</p>
<a class="btn btn-default" href="Index" style="margin-bottom: 10px;">Return</a><br />