
@{
    ViewBag.Title = "UpdateProducts";
}

<h2>UpdateProducts</h2>

<h2>This is the Updated Rows</h2>
<p>
    @ViewBag.ProId<br />
    @ViewBag.ProName<br />
    @ViewBag.QPU<br />
    @ViewBag.UnPr<br />
    @ViewBag.UIS<br />
    @ViewBag.UOO<br />
    @ViewBag.ReLe<br />
    @ViewBag.Discon<br />
</p>
<a class="btn btn-default" href="Index" style="margin-bottom: 10px;">Return</a><br />