
@{
    ViewBag.Title = "UpdateEmployees";
}

<h2>UpdateEmployees</h2>
<h2>This is the Updated Rows</h2>
<p>
    @ViewBag.EmpId <br />
    @ViewBag.EmLa <br />
    @ViewBag.EmFi <br />
    @ViewBag.EmTi <br />
    @ViewBag.EmTOC <br />
    @ViewBag.EmBi <br />
    @ViewBag.EmpHD <br />
    @ViewBag.EmAd <br />
    @ViewBag.EmCi<br />
    @ViewBag.EmpRe <br />
    @ViewBag.EmPC <br />
    @ViewBag.EmCu <br />
    @ViewBag.EmpHP <br />
    @ViewBag.EmEx <br />
    @ViewBag.EmPh <br />
    @ViewBag.EmpNo <br />
    @ViewBag.EmRT <br />
</p>
<a class="btn btn-default" href="Index" style="margin-bottom: 10px;">Return</a><br />

