
@{
    ViewBag.Title = "UpdateSuppliers";
}

<h2>UpdateSuppliers</h2>
<h2>This is the Updated Rows</h2>
<p>
    @ViewBag.SupId<br />
    @ViewBag.CompName<br />
    @ViewBag.ContNam<br />
    @ViewBag.ConTi<br />
    @ViewBag.SAdd<br />
    @ViewBag.SCity<br />
    @ViewBag.SReg<br />
    @ViewBag.SPoCo<br />
    @ViewBag.SCou<br />
    @ViewBag.SPho<br />
    @ViewBag.SFax<br />
    @ViewBag.SHP<br />
</p>
<a class="btn btn-default" href="Index" style="margin-bottom: 10px;">Return</a><br />
