
@{
    ViewBag.Title = "UpdateOrders";
}

<h2>UpdateOrders</h2>
<h2>This is the Updated Rows</h2>
<p>
@ViewBag.OrdId <br />
@ViewBag.OrdDat <br />
@ViewBag.ReqDat <br />
@ViewBag.ShiDat <br />
@ViewBag.OFri <br />
@ViewBag.ShiNam <br />
@ViewBag.ShiAdd <br />
@ViewBag.ShiCit <br />
@ViewBag.ShiReg <br />
@ViewBag.ShiPosCo <br />
@ViewBag.ShiCou <br />
</p>
<a class="btn btn-default" href="Index" style="margin-bottom: 10px ">Return</a><br />
